$background-color: #f2f2f2;
$accent-color: #6bd400;
$border-radius: 5%;
$border-dotted: 3px dotted black;
$box-shadow: 0 10px 7px -13px;

$margin-xm: 5px;
$margin-xl: 10px;
$margin-xxl: 20px;

$font-size-xs: 12px;
$font-size-xm: 16px;
$font-size-xl: 20px;
$font-size-xxl: 22px;
$font-size-xxxl: 30px;
